{{ 'base.css' | asset_url | stylesheet_tag }}


 <div class="marquee-container">
     {% if section.settings.show_border_marquee.label %} show-border-marquee{% endif %}
    <div class="marquee">
        <div class="marquee-words"> 
            {{ section.settings.marquee }}
        </div>
    </div>
 </div>


{% schema %}
{
 "name": "Marquee",
 "settings": [
   {
    "type": "text",
    "id": "marquee",
    "label": "Marquee-text"
    },
    {
    "type": "checkbox",
    "id": "marquee_border",
    "default" : true,
    "label": "t:sections.marque.settings.show_border_marquee.label"
    }

  ],

  "presets": [
    {
     "name": "Marquee",
     "category":"Custom"
     }
    ]
}
{% endschema %}